img {
    width: 40px;
}

#checkbox{
    display: none;
}

.content>p {
    background-color: rgb(195, 196, 198);
    font-size: 1.5rem;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.content {
    display: none;
    overflow: hidden;
    transition: 0.5 ease;
}
#checkbox:checked+.content{
    display: block;
}